<li class="nav-item dropdown user-menu">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="~/admin-lte/img/avatar.png" class="user-image img-circle elevation-2" alt="User Image">
        <span class="d-none d-md-inline">@User.Identity.Name</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
        <!-- User image -->
        <li class="user-header bg-primary">
            <img src="~/admin-lte/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">

            <p>
                @User.Identity.Name
                <small>@DateTime.Now</small>
            </p>
        </li>
        <!-- Menu Body -->
        <!-- Menu Footer-->
        <li class="user-footer">
            <a href="#" class="btn btn-default btn-flat">Profile</a>
            <a href="/members/logout" class="btn btn-default btn-flat float-right">Sign out</a>
        </li>
    </ul>
</li>